// Base process configuration

process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Resource defaults
    cpus = 4
    memory = '8 GB'
    time = '2h'

    // Process-specific configurations
    
    withName: 'STAR_INDEX' {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 30.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        label = 'xlarge'
    }

    withName: 'STAR_ALIGN' {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 30.GB * task.attempt, 'memory' ) }
        time = { check_max( 6.h * task.attempt, 'time' ) }
        label = 'xlarge'
    }

    withName: 'STAR_FUSION' {
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        label = 'large'
    }

    withName: 'FUSION_INSPECTOR' {
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        label = 'large'
    }

    withName: 'FASTQC' {
        cpus = 2
        memory = '4 GB'
        time = '1h'
        label = 'small'
    }

    withName: 'MULTIQC' {
        cpus = 2
        memory = '4 GB'
        time = '1h'
        label = 'small'
    }
}

// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ERROR: invalid max_memory: ${params.max_memory}, using default 128 GB"
            return 128.GB
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ERROR: invalid max_time: ${params.max_time}, using default 240 h"
            return 240.h
        }
    } else if (type == 'cpus') {
        try {
            return Math.min(obj, params.max_cpus as int)
        } catch (all) {
            println "   ERROR: invalid max_cpus: ${params.max_cpus}, using default 16"
            return 16
        }
    }
}
