// Base process configuration

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PREP_CTAT_GENOME_LIB' {
        cpus   = 8
        memory = '30 GB'
        time   = '4h'
    }

    withName: 'STAR_FUSION' {
        cpus   = 16
        memory = '60 GB'
        time   = '12h'
    }
}
